@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  font-family: "Poppins", sans-serif;
}

a,
a:visited,
a:active {
  text-decoration: none;
}

@media (max-width: 1200px) {
  :root {
    font-size: 55%;
  }
}

@media (max-width: 768px) {
  :root {
      font-size: 45%;
  }
}

@media (max-width: 480px) {
  :root {
      font-size: 40%;
  }
}

@media (max-width: 320px) {
  :root {
      font-size: 30%;
  }
}