@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  font-family: "Poppins", sans-serif;
}

a,
a:visited,
a:active {
  text-decoration: none;
}

@media (max-width: 1200px) {
  :root {
    font-size: 0.5rem;
  }
}

@media (max-width: 768px) {
  :root {
    font-size: 0.4rem;
  }
}

@media (max-width: 480px) {
  html {
    font-size: 0.3rem;
  }
}

@media (max-width: 320px) {
  :root {
    font-size: 0.28rem;
  }
}